<div class="col-md-6 col-md-offset-3">

<% params[:beta_code] = params[:beta_code].split.join if params[:beta_code] %>

<% if params[:beta_code] && Betacode.where(token: params[:beta_code]).count > 0 %>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), validate: true) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :first_name, :autofocus => true, class: 'form-control', placeholder: 'First Name' %>

  <br />
  <%= f.text_field :last_name, :autofocus => true, class: 'form-control', placeholder: 'Last Name' %>

  <br />
  <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email' %>

  <br />

  <%= f.hidden_field :betacode_id, value: Betacode.where(token: params[:beta_code]).first.id %>

  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

  <br />
  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
  <br />

  <%= f.select :level_id, Level.all.collect { |p| [ p.name, p.id ] },  id: 'select-level' %>

  <br />
  <br />

  By clicking Sign Up, you agree to the <%= link_to "Terms of Service", terms_path, target: "_blank" %> and <%= link_to "Privacy Policy", privacy_path, target: "_blank" %>.
  <br/>
  <br />

  <div><%= f.submit "Sign up", class: 'btn red lighten-2 waves-effect waves-light' %></div>
  <br />
  <br />
<% end %>

<%= render "devise/shared/links" %>

<% else %>

<h2>Invalid beta access token</h2>

<% end %>

</div>
