
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<%= content_for(:body_attributes, 'data-no-turbolink') %>

<div class="container">

<div class="col-md-6 col-md-offset-3 main-signup">
<br><br>



<% params[:beta_code] = params[:beta_code].split.join if params[:beta_code] %>

<% if params[:beta_code] && Betacode.where(token: params[:beta_code]).count > 0 %>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), validate: true) do |f| %>
  <%= devise_error_messages! %>


  <%= f.text_field :first_name, :autofocus => true, class: 'form-control, validate', placeholder: 'First Name' %>

  <br />
  <%= f.text_field :last_name, :autofocus => true, class: 'form-control, validate', placeholder: 'Last Name' %>

  <br />
  <div class="" >
    <%= f.email_field :email, :autofocus => false, class: 'form-control, validate', placeholder: 'email' %>
  </div>
  <br />

  <%= f.hidden_field :betacode_id, value: Betacode.where(token: params[:beta_code]).first.id %>

  <%= f.password_field :password, class: 'form-control, validate', placeholder: 'Password', id: 'password_field', type: 'password' %>

  <br />
  <%= f.password_field :password_confirmation, class: 'form-control, validate', placeholder: 'Password Confirmation', id: 'password_confirmation_field' %>
  <br />

  <%= f.select :level_id, Level.all.collect { |p| [ p.name, p.id ] },  id: 'select-level' %>

  <br />
  <br />

  By clicking Sign Up, you agree to the <%= link_to "Terms of Service", terms_path, target: "_blank" %> and <%= link_to "Privacy Policy", privacy_path, target: "_blank" %>.
  <br/>
  <br />

  <div><%= f.submit "Sign up", class: 'btn red lighten-2 waves-effect waves-light' %></div>
  <br />
  <br />
<% end %>

<%= render "devise/shared/links" %>

<% else %>

<h2>Invalid beta access token</h2>

<% end %>

<% unless flash[:error].blank? %>
  <% flash[:error].each do |key, value| %>
    <script>
    alert_with_inputfieldsfield("<%= key %>", "<%= key %> <%= value %>")
    </script>

  <% end %>
<% end %>

</div>

</div>
