<h2><i class="fa fa-area-chart"></i> <%= link_to "Dashboard", level_modulers_path(@level) %></h2>
<!-- <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <i class="fa fa-area-chart"></i> <%= link_to "Dashboard", level_modulers_path(@level),:class => "breadcrumb"%>
      </div>
    </div>
  </nav> -->

<hr>

<h3><%= @level.name %> Modules</h3>

<br>

<% @modulers.each do |moduler| %>
	<%= link_to level_moduler_lessons_path(@level, moduler) do %>
		<div class="col s12 m4 stats">
      <div class="card white hoverable center waves-effect waves-red">
        <div class="card-content valign-wrapper center">
          <h5 class="valign black-text"><%= moduler.name %></h5>
        </div>
      </div>
    </div>
	<% end %>
<% end %>
