<h2>Speech Results </h2>
<hr>
<br>
<table class="highlight centered responsive-table bordered" id="speech-stats-table">
    <thead>
      <tr>
	      <th>Lesson</th>
        <th>Module</th>
        <th>Date</th>
        <th>Happiness</th>
        <th>Sadness</th>
        <th>Angry</th>
        <th>Fear</th>
        <th>Surprise</th>
        <th>Neutral</th>
      </tr>
    </thead>
    <tbody>
		<% @speechstats.each do |speechstat| %>
				<tr>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= speechstat.lesson.name %>
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= speechstat.moduler.name %>
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= speechstat.created_at.strftime("%b %d, %Y") %>
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= (speechstat.happy_facial_indico.round(2) * 100).floor %>%
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= (speechstat.sad_facial_indico.round(2) * 100).floor %>%
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= (speechstat.angry_facial_indico.round(2) * 100).floor %>%
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= (speechstat.fear_facial_indico.round(2) * 100).floor %>%
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= (speechstat.surprise_facial_indico.round(2) * 100).floor %>%
						<% end %>
					</th>
					<th>
						<%= link_to speechstat_path(speechstat) do %>
							<%= (speechstat.neutral_facial_indico.round(2) * 100).floor %>%
						<% end %>
					</th>
				</tr>
		<% end %>
    </tbody>
  </table>


  <%= paginate @speechstats %>


