<nav class="navbar">
  <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <span style="display: inline-block;"><img src="/images/starspeak_logo_bg_white.png" width="35" height="35" alt=""></span> 
        <span style="margin-top: -10px; display: inline-block;">StarSpeak</span>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if is_home_page? %>
          <li><a class="scroll-button" data-link="home">Home</a></li>
          <li><a class="scroll-button" data-link="product">Product</a></li>
          <li><a class="scroll-button" data-link="testimonials">Testimonials</a></li>
        <% end %>
        <% unless user_signed_in? %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><a href="#modal1" class="modal-trigger">Sign up</a></li>
          <% else %>
            <li><%= link_to "Dashboard", level_modulers_path(current_user.level) %></li>
            <li><%= link_to "Speech Results", speech_stats_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.first_name %> <span class="caret"></span></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
        <% end %>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
  <% unless user_signed_in? %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><a href="#modal1">Sign up</a></li>
    <% else %>
      <li><%= link_to "Dashboard", level_modulers_path(current_user.level) %></li>
      <li><%= link_to "Speech Results", speech_stats_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect"><%= current_user.name %></a>
            <div class="collapsible-body">
              <ul>
                <li><%= link_to "My Profile", user_path(current_user) %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
  <% end %>
</ul>


<!-- &nbsp;<a href="#" class="btn btn-default btn-lg">Try the demo</a> -->
  <div id="modal1" class="modal">
      <div class="modal-content">
        <h1>StarSpeak</h1>
        <p class="black-text">Enter access code to sign up</p>

        <form action="/users/sign_up">
          <div class="input-group">
            <input type="text" name="beta_code" class="form-control" placeholder="Access Token">
            <span class="input-group-btn">
              <button type="submit" id="mc-embedded-subscribe" class="button btn red lighten-2 waves-effect waves-light">Submit</button>
            </span>
          </div>
        </form>
            <br>
            <!-- Begin MailChimp Signup Form -->
        <!-- <div id="mc_embed_signup">
        <form action="//starspeak.us11.list-manage.com/subscribe/post?u=1cd17cd17e4536b98745fee5b&amp;id=1ad6be9e86" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>We're launching soon!</h2>
            <p class="black-text">Don't miss an update</p>
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1cd17cd17e4536b98745fee5b_1ad6be9e86" tabindex="-1" value=""></div>

            <div class="input-group">
                <input type="email" value="" name="EMAIL" class="required email form-control black-text" id="mce-EMAIL" placeholder="Email">
                <span class="input-group-btn">
                  <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class=" btn red lighten-2 waves-effect waves-light">Subscribe</button>
                </span>
              </div>

            </div>
        </form>
        </div> -->
      </div>
    </div>

