<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">StarSpeak</a>
      <ul class="right hide-on-med-and-down">
        <% unless user_signed_in? %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><a href="#" data-toggle="modal" data-target="#myModal">Sign up</a></li>
          <% else %>
            <li><%= link_to "Dashboard", level_modulers_path(current_user.level) %></li>
            <li><%= link_to "Speech Results", speechstats_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.first_name %> <span class="caret"></span></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
