<nav class="navbar">
  <div class="nav-wrapper">
      <a href="/" class="brand-logo">StarSpeak</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% unless user_signed_in? %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><a href="#modal1">Sign up</a></li>
          <% else %>
            <li><%= link_to "Dashboard", level_modulers_path(current_user.level) %></li>
            <li><%= link_to "Speech Results", speechstats_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.first_name %> <span class="caret"></span></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <li><%= link_to "My Profile", user_path(current_user) %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
        <% end %>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
    </div>
</nav>

<ul id="slide-out" class="side-nav">
  <% unless user_signed_in? %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><a href="#modal1">Sign up</a></li>
    <% else %>
      <li><%= link_to "Dashboard", level_modulers_path(current_user.level) %></li>
      <li><%= link_to "Speech Results", speechstats_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect"><%= current_user.name %></a>
            <div class="collapsible-body">
              <ul>
                <li><%= link_to "My Profile", user_path(current_user) %></li>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
  <% end %>
</ul>
