<div class="container">
	<h2><%= link_to "Speech Results", speechstats_path %> <i class="fa fa-chevron-right"></i> <%= @speechstat.lesson.name %> <%= @speechstat.created_at.strftime("%b %d, %Y") %></h2>
	<hr>

	<p><%= @speechstat.watson_text %></p>


	<div class="row">
		<div class="col-md-4">
			<h2>Personality</h2>
			<p>Agreeableness</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.agreeableness_indico.round(2) * 100).floor %>%">
			  	<%= (@speechstat.agreeableness_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Agreeableness</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.conscientiousness_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.conscientiousness_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Conscientiousness</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.extraversion_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.extraversion_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Openness</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.openness_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.openness_indico.round(2) * 100).floor %>%
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<h2>Speech Emotions</h2>
			<p>Happy</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.happy_facial_indico.round(2) * 100).floor %>%">
			  	<%= (@speechstat.happy_speech_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Sad</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.sad_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.sad_speech_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Angry</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.angry_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.angry_speech_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Fear</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.fear_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.fear_speech_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Surprise</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.surprise_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.surprise_speech_indico.round(2) * 100).floor %>%
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<h2>Facial Emotions</h2>
			<p>Happy</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.happy_facial_indico.round(2) * 100).floor %>%">
			  	<%= (@speechstat.happy_facial_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Sad</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.sad_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.sad_facial_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Angry</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.angry_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.angry_facial_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Fear</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.fear_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.fear_facial_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Surprise</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.surprise_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.surprise_facial_indico.round(2) * 100).floor %>%
			  </div>
			</div>
			<p>Neutral</p>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="70"
			  aria-valuemin="0" aria-valuemax="100" style="width:<%= (@speechstat.neutral_facial_indico.round(2) * 100).floor %>%">
			    <%= (@speechstat.neutral_facial_indico.round(2) * 100).floor %>%
			  </div>
			</div>
		</div>
	</div>
</div>
