<h2><i class="fa fa-area-chart"></i> <%= link_to "Dashboard", level_modulers_path(@level) %> <i class="fa fa-chevron-right"></i> <i class="fa fa-columns"></i>  <%= link_to @moduler.name, level_moduler_lessons_path(@level, @moduler) %> </h2>
<hr>

<h3><%= @moduler.name %> Lessons</h3>

<br>

<% @lessons.each do |lesson| %>
	<%# link_to level_moduler_lesson_path(@level, @moduler,lesson) do%>
	<a href="https://view.starspeak.io?auth_token=<%= current_user.auth_token %>&lesson_id=<%= lesson.id %>">
		<div class="col-md-3 ">
			<div class="module-box">
				<%= lesson.name %>
			</div>
		</div>
	</a>
	<%# end %>
<% end %>