<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="jFQ2e2MxeYBWwIBsrckjkJaeMS8t_3ST3uTUNRn72ik" />
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>StarSpeak</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <% if params[:controller] == "home" && (params[:action] == "index" || params[:action] == "appleby") %>
      <%= stylesheet_link_tag "startup-standalone", "data-turbolinks-track" => false %>
    <% else %>
      <%= stylesheet_link_tag "home", "data-turbolinks-track" => false %>
    <% end %>
    <!-- Custom styles for this template -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body class="light-theme" <%= yield(:body_attributes) %>>
    <%= render 'shared/header' %>

      <% if (params[:controller] == "lessons" && params[:action] == "show") || (params[:controller] == "hello_world") %>
          <%= yield %>
      <% else %>
          <%= yield %>
      <% end %>

    <% if params[:controller] == "home" && (params[:action] == "index" || params[:action] == "appleby")%>
      <%= render :partial => "shared/footer" %>
    <% end %>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>
